[submodule "LABS/lib/imgui"]
	path = LABS/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "LABS/lib/glfw"]
	path = LABS/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "LABS/lib/ImGuiFileDialog"]
	path = LABS/lib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "BASE/lib/cpp-httplib"]
	path = BASE/lib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "BASE/lib/libsodium"]
	path = BASE/lib/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "LABS/lib/dawn"]
	path = LABS/lib/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "VIBE/lib/dawn"]
	path = VIBE/lib/dawn
	url = https://dawn.googlesource.com/dawn
