[submodule "LABS/lib/opencv"]
	path = LABS/lib/opencv
	url = https://github.com/opencv/opencv.git
[submodule "DESK/lib/imgui"]
	path = DESK/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "DESK/lib/glfw"]
	path = DESK/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "DESK/lib/ImGuiFileDialog"]
	path = DESK/lib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "JWTA/lib/libsodium"]
	path = JWTA/lib/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "JWTA/lib/cpp-httplib"]
	path = JWTA/lib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
